$rem-base: 37px;

@function rem($pxval) { @return ($pxval / $rem-base) * 1rem; }

.shop {
    .title {
        font-size: rem(14px);
        margin-bottom: rem(10px);
    }
    &-img {
        padding: rem(18px);
        border-bottom: rem(20px) solid #f3f5f7;
        ul {
            display: flex;
        }
        li {
            margin-right: rem(6px);
            img {
                width: rem(78px);
                height: rem(75px);
            }
        }
    }
    &-infor {
        padding: rem(18px);
        li {
            padding: rem(16px);
            border-bottom: rem(1px) solid #eee;
            font-size: rem(12px);
            color: #07111b;
            line-height: rem(16px);
        }
    }
}