$rem-base: 37px;

@function rem($pxval) { @return ($pxval / $rem-base) * 1rem; }

.shop {
    &-img {
        padding: rem(18px);
        h2 {
            font-size: rem(14px);
            margin-bottom: rem(10px);
        }
        ul {
            display: flex;
        }
        li {
            margin-right: rem(6px);
            img {
                width: rem(78px);
                height: rem(75px);
            }
        }
    }
    &-infor {
        padding: rem(18px);
        h2 {
            font-size: rem(14px);
            margin-bottom: rem(10px);
        }
        li {
            padding: rem(16px);
            border-bottom: rem(1px) solid #eee;
            font-size: rem(12px);
            color: #07111b;
            line-height: rem(16px);
        }
    }
}