<div class="bar" ref="bar">
    <div class="bar-infor">
        <div class="avatar f-fl">
            <img :src="seller.avatar">
        </div>
        <div class="infor f-fl">
            <h1>
                <i class="icon iconfont icon-dianpu"></i>
                {{seller.name}}
            </h1>
            <span>{{seller.description}}/{{seller.deliveryTime}}分钟送达</span>
            <div>
                <i class="icon iconfont icon-tianmaozengyunfeixian"></i>
                {{seller.supports[0].description}}
            </div>
        </div>
        <div class="more" @click="toggleShowIntro">
            {{seller.supports.length}}个
            <i class="el-icon-arrow-right"></i>
        </div>
        <div class="bg">
            <img :src="seller.avatar">
        </div>
    </div>
    <div class="bar-announce" @click="toggleShowIntro">
        <i class="icon iconfont icon-gonggao"></i>
        <span>{{seller.bulletin}}</span>
        <i class="el-icon-arrow-right"></is>
    </div>
    <div class="bar-mask" v-show="isShowIntro">
        <h1>{{seller.name}}</h1>
        <el-rate v-model="seller.score" disabled>
        </el-rate>
        <div>
            <h2>优惠信息</h2>
            <ul>
                <li v-for="(support,index) in seller.supports" :key="index">
                    <i class="icon iconfont icon-zhengpinbaozhang"></i>
                    {{support.description}}
                </li>
            </ul>
        </div>
        <div>
            <h2>商家公告</h2>
            <p>{{seller.bulletin}}</p>
        </div>
        <div @click="toggleShowIntro"><i class="el-icon-close"></i></div>
    </div>
    <div class="bar-admin">
        <router-link to="/admin">
          <i class="icon iconfont icon-wo"></i>
        </router-link>
    </div>
</div>