<div class="detail" transition="showDetail">
    <section class="detail-img">
        <img :src="food.image">
    </section>
    <section class="detail-infor">
        <h1>{{food.name}}</h1>
        <p>月售{{food.sellCount}} 好评率{{food.rating}}%</p>
        <div class="f-oh">
            <span class="price f-fl">￥{{food.price}}</span>
            <span class="add f-fr"  @click="addFood(food)">加入购物车</span>
        </div>
    </section>
    <section class="detail-intro">
        <h2>商品介绍</h2>
        <article>{{food.info}}</article>
    </section>
    <section class="detail-rating">
        <h2>商品评价</h2>
    </section>
    <section class="detail-back" @click="goBack">
        <i class="iconfont icon-back"></i>
    </section>
    <cart></cart>
</div>