$rem-base: 37px;

@function rem($pxval) { @return ($pxval / $rem-base) * 1rem; }

.swiper {
    width: 100%;
    height: rem(44px);
    line-height: rem(44px);
    font-size: rem(14px);
    border-bottom: rem(1px) solid #ccc;
    background-color: #fff;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    text-align: center;
    .item {
      flex: 1
    }
  }