$rem-base: 37px;

@function rem($pxval) { @return ($pxval / $rem-base) * 1rem; }

.swiper {
    width: 100%;
    font-size: rem(14px);
    padding: rem(15px) rem(50px);
    border-bottom: rem(1px) solid #ccc;
    background-color: #fff;
    top: 0;
    z-index: 100;
    span {
      margin-right: rem(80px);
    }
    span:last-child {
      margin-right: 0;
    }
  }