<div class="rating">
    <section class="rating-score f-oh">
        <div class="total f-fl">
            <div class="number f-fl">
                <span>{{seller.score}}</span>
            </div>
            <div class="star f-fr">
                <p>商家评分</p>
                <el-rate v-model="seller.score" disabled></el-rate>
            </div>
        </div>
        <ul class="part f-fr">
            <li>
                <P>服务</P>
                <span>{{seller.serviceScore}}</span>
            </li>
            <li>
                <P>味道</P>
                <span>{{seller.foodScore}}</span>
            </li>
            <li>
                <P>配送</P>
                <span>{{seller.deliveryTime}}</span>
            </li>
        </ul>
    </section>
    <section class="rating-swiper">
        <ul>
            <li @click="getRatings('0')" :class="{good:true,goodActive:isActive === '0'}">全部</li>
            <li @click="getRatings('1')" :class="{good:true,goodActive:isActive === '1'}">推荐</li>
            <li @click="getRatings('-1')" :class="{bad:true,badActive:isActive === '-1'}">吐槽</li>
        </ul>
    </section>
    <section class="rating-content">
        <ul>
            <li v-for="(rating,index) in ratings" :key="index">
                <div class="avatar"><img :src="rating.avatar" alt=""></div>
                <div class="infor">
                    <div class="name">{{rating.nick}}</div>
                    <div class="rate">
                        <span class="score">{{rating.score}}分</span>
                        <span>{{rating.deliveryTime}}分钟</span>
                    </div>
                    <div class="content">
                        <p>{{rating.text}}</p>
                    </div>
                </div>
                <div class="time">
                    <span>{{rating.rateTime | localeDate}}</span>
                </div>
            </li>
        </ul>
    </section>
</div>