$rem-base: 37px;
@function rem($pxval) { @return ($pxval / $rem-base) * 1rem; }

.rating {
   font-size: rem(14px);
   &-score {
      padding: rem(20px);
      border-bottom: rem(10px) solid #eee;
      .total {
         width: 50%;
         // margin-right: rem(10px);
         .number {
            font-size: rem(32px);
            color: #ff6000;
         }
         .star {
            font-size: rem(12px);
            p {
               margin-bottom: rem(5px);
            }
            i {
               font-size: rem(12px);
            }
         }
      }
      .part {
         width: 50%;
         display: flex;
         justify-content: space-around;
         color: #666;
         text-align: center;
         li {
            p {
               font-size: rem(12px);
               margin-bottom: rem(10px);
            }
            span {
               font-size: rem(18px);
            }
         }
      }
   }
   &-swiper {
      ul {
         display: flex;
         padding: rem(20px);
         li {
            padding: rem(10px) rem(20px);
            margin-right: rem(10px);
         }
      }
   }
   &-content {
      ul {
         li {
            display: flex;
            padding: rem(20px) rem(20px) rem(20px) 0;
            margin-left: rem(20px);
            border-bottom: rem(1px) solid #ccc;
            img {
               width: rem(30px);
               border-radius: 50%;
            }
            .avatar {
               flex: 1;
            }
            .infor {
               flex: 6;
               .rate {
                  margin-top: rem(5px);
                  margin-bottom: rem(5px);
               }
               .score {
                  color: #f90;
               }
            }
            .time {
               flex: 1;
            }
         }
      }
   }
}