/*布局（grid）*/
/*模块（module）*/
/*元件（unit）*/
/*功能（function）*/
.f-cb { clear: both; }
.f-fl { float: left; }
.f-fr { float: right; } 
.f-fs12 { font-size: 12px; }
.f-fs14 { font-size: 14px; }
.f-fs16 { font-size: 16px; }
.f-fs18 { font-size: 18px; }
.f-fs20 { font-size: 20px; }
.f-fs28 { font-size: 28px; }

/*皮肤（skin）*/
/*状态*/